*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    margin: 10;
    padding: 0;
    background-color: #ddf4df;
}

div{
    border: 2px #1a803e solid 
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.flex-item{
    margin: 5%;
    flex-shrink: 1;
    /* por defecto siempre dice 1 */
    flex-grow: 2; 
    /* va a intenrar darle dos a cada elemento pero no es seguro */
}