
body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    background-color:#ffddfa;
    color: #801a6d;

  }
  a:link,
  a:visited {
    color: #ee80e1;
    text-align: center;
    text-decoration: none;
  }

  a:hover,
  a:active {
    background-color: #e72ec5;
  }
  h1.pinkBack {
    color: #d42fbe;
    background-color: #f7d5f5;
  }

  .padding{
    padding: 20px;
    border-color: #d42fbe;
    border-width: 2rem;
    background-color: #fcbdf5;
    border-radius: 1pc;
    text-align: center;
  }
