*{
    font-family: 'secondFont','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, Helvetica, sans-serif;

}


.container{
    padding: 10px;
    border-bottom: 1px solid black;
}

#copilot{
    background-color: #addefc;
    color: #1a3580;
    font-family: Verdana;
}
#gpt{
    background-color: #adfcce;
    color: #1a8065;
    font-family:Verdana;
}
#correcto{
    background-color: #f9adfc;
    color: #801a63;
    font-family:Verdana;
}

a:link,
  a:visited {
    color: #801a63;
    text-align: center;
    text-decoration: none;
  }

  a:hover,
  a:active {
    background-color: #f56ba5;
  }


table, td{
    border: 1px solid black;
}
li{
    font-size: 2rem;
    text-decoration: underline;

}
h2{
    font-size: 2rem;
    background-color: #dadddf;
    font-family: 'nooks';
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts_FILE/Food\ Zone.ttf);
    font-family: secondFont;
    src: url(../fonts_FILE/TT\ Marxiana\ Trial\ Grotesque.ttf);
    font-family: nooks;
    src: url(../fonts_FILE/TT\ Nooks\ Script\ Trial\ Bold.otf);
    font-family: knickerbocker;
    src: url(../fonts_FILE/TT\ Knickerbockers\ Script\ Trial.otf);
}